<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

	<div class="form-group" [ngClass]="{ 'has-error': invalidFirstName() }"> <!-- First Name -->
		<label for="firstName" class="control-label">First Name</label>
		<input type="text" formControlName="firstName" class="form-control" id="firstName" name="firstName" placeholder="Martin">
	<p *ngIf="invalidFirstName()" id="first_name_error" class="help-block">{{this.serviceErrors.firstName || 'Invalid first name.'}}</p>
	</div>

	<div class="form-group" [ngClass]="{ 'has-error': invalidLastName() }"> <!-- Last Name -->
		<label for="lastName" class="control-label">Last Name</label>
		<input type="text" formControlName="lastName" class="form-control" id="lastName" name="lastName" placeholder="Toha">
		<p *ngIf="invalidLastName()" id="last_name_error" class="help-block">{{this.serviceErrors.lastName || 'Invalid last name.'}}</p>
	</div>

	<div class="form-group" [ngClass]="{ 'has-error': invalidEmail() }"> <!-- Email -->
		<label for="email" class="control-label">E-mail</label>
		<input type="text" formControlName="email" class="form-control" id="email" name="email" placeholder="your@email.com">
	<p *ngIf="invalidEmail()" id="email_error" class="help-block">{{ this.serviceErrors.email || 'Invalid email address.'}}</p>
	</div>

	<div class="form-group" [ngClass]="{ 'has-error': invalidZipcode() }"> <!-- Zip Code-->
		<label for="zipcode" class="control-label">Zip Code</label>
		<input type="text" formControlName="zipcode" class="form-control" id="zipcode" name="zipcode" placeholder="#####">
		<p *ngIf="invalidZipcode()" id="zipcode_error" class="help-block">{{ this.serviceErrors.zipcode || 'Invalid zip code.'}}</p>
	</div>

	<div class="form-group" [ngClass]="{ 'has-error': invalidPassword() }"> <!-- Password -->
		<label for="password" class="control-label">Password</label>
		<input type="password" formControlName="password" class="form-control" id="password" name="password" placeholder="*****">
		<p *ngIf="invalidPassword()" id="password_error" class="help-block">{{ this.serviceErrors.password || 'Invalid password.' }}</p>
	</div>
	
	<div class="form-group has-error"> <!-- Register Button -->
		<button type="submit" class="btn btn-primary">Register</button>
	</div>

</form>	
