<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Register User</h1>
      <!-- <app-input-user-data-form></app-input-user-data-form>
      <app-display-user-data></app-display-user-data> -->
      <!-- Place the router-outlet in the app.component.html -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>